body, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12pt;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  .controls {
    margin-bottom: 10px;
  }
  
  /* Basic button styling */
  button {
    margin-left: 10px;
    top: 30px;
    width: 120px;
    height: 32px;
    border: none;
    color: #333;
    padding-top: 4px;
    background-color: #ddd;
    cursor: pointer;
    white-space: nowrap;
  }
  

  /* button {
    top: 30px;
    width: 100px;
    height: 32px;
    font-size: 12pt;
    border: none;
    color: #333;
    padding-top: 4px;
    background-color: #ddd;
    position: absolute;
    white-space: nowrap;
} */
  /* Highlight the selected button */
  .selected-button {
    background-color: #666;
    color: #ddd;
}
